body {
	font-family: Arial, sans-serif;
	margin: 0;
    font-size: 20px;
    background-image: url(fotobg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: optimizeQuality;   
}

header {
	background-image: url(Safe-Valuables.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	color: #fff;
	padding: 50px;
}

nav {
	margin-top: 10px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

nav li {
	margin-left: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
    padding: 10px;
    border-radius: 5px;
	text-shadow: 2px 2px #333;
	font-weight: bold;
}

nav a:hover {
    color: #ff0;
}

h1 {
	font-size: 50px;
	margin-top: 50px;
	text-shadow: 2px 2px #333;
}

h2 {
	font-size: 30px;
	margin-top: 20px;
	text-shadow: 2px 2px #333;
}

form {
	margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

input[type="text"] {
	padding: 10px;
	border: none;
	border-radius: 5px;
}

button[type="submit"] {
	padding: 10px 20px;
	background-color: #f90;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #ff0;
}

main {
	padding: 20px;
    justify-content: center;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.promo {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    flex: 1 1 auto;
    max-width: 100%;
}

.promo h3 {
	font-size: 30px;
	margin-bottom: 20px;
    flex-basis: 100%;
	text-align: center;
}

.card {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px;
	padding: 0px;
    width: 70%;
	height: auto;
	text-align: center;
    justify-items: center; 
	overflow: hidden;
    transition: transform 0.2s;
}

.card img {
	width: 100%;
	height: auto;
}

.card h4 {
	font-size: 20px;
	margin-top: 10px;
}

.card p {
	margin-top: 10px;
}

.card a {
	display: block;
	margin-top: 10px;
	padding: 10px;
	background-color: #f90;
	color: #fff;
	border-radius: 5px;
	text-decoration: none;
}

.card a:hover {
	background-color: #ff0;
}

.destinasi {
	margin-top: 30px;
    display: grid;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 20px;
}

.destinasi h3 {
	font-size: 30px;
	margin-bottom: 20px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	margin-top: 40px;
}

footer p {
	margin: 0;
	font-size: 14px;
	text-align: center;
}

.promo > .card:hover {
	transform: scale(1.1);
}

.destinasi > .card:hover {
	transform: scale(1.1);
}